<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h5>تغير كلمه المرور </h5>
    </div>
    <div class="card-body">
      <form [formGroup]="editPassUserForm" (ngSubmit)="saveUserData()">
        <div class="row">
          <div class="col">

            <div class="form-group row">
              <label for="projectId"><span class="invisible">.........</span>كلمه المرور الحاليه</label>
              <div class="col-sm-8">
                <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword">
                <div class="text-danger"
                     *ngIf="this.editPassUserForm.get('currentPassword').invalid && this.editPassUserForm.get('currentPassword').errors.required">
                  {{messageValidate.required.required}}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPassword"><span class="invisible">.........</span>كمله المرور الجديده</label>
              <div class="col-sm-8">
                <input type="password" id="newPassword" class="form-control" formControlName="newPassword">

                <div class="text-danger"
                     *ngIf="this.editPassUserForm.get('newPassword').invalid && this.editPassUserForm.get('newPassword').errors.required ">
                  {{messageValidate.required.required}}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPasswordConfirm"> <span class="invisible">.............</span>تاكيد كلمه المرور</label>
              <div class="col-sm-8">
                <input type="password" id="newPasswordConfirm" class="form-control"
                       formControlName="newPasswordConfirm">
                <div class="text-danger"
                     *ngIf="this.editPassUserForm.get('newPasswordConfirm').invalid && this.editPassUserForm.get('newPasswordConfirm').errors.required ">
                  {{messageValidate.required.required}}
                </div>
              </div>
            </div>
          </div>

          <div class="col">
          </div>
        </div>

        <div class="container mt-4 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg" style="font-size: 20px;width: 200px;"
                  [disabled]="this.editPassUserForm.invalid">حفظ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
