<div #mapDiv>
  <app-map [mapStyle]=this.mapStyle></app-map>
  <div class="measurements" *ngIf="this.lineMeasurements">
    {{this.lineMeasurements}}
  </div>
<!--  <img src="./assets/pngIcons/icons8-car-50.png" class="carAnimation" (click)="this.runAnimation()">-->
  <img src="./assets/pngIcons/icons8-information-50.png" class="iconInformatios" (click)="this.getInforamtions =!this.getInforamtions ">


  <div class="textInformatios" *ngIf="this.getInforamtions">
    <div class="module">
      تم تصميم هذا التطبيق كمقترح سياحي بحيث يسهل على السائح و يعطيه التصور الكامل عن رحلته من قبل الطالبه ايمان العتيبي  </div>
  </div>


  <div *ngIf="isContactMeOpen">
    <app-contact-me></app-contact-me>
  </div>
</div>
<app-exist-map></app-exist-map>

<img src="./assets/pngIcons/icons8-facebook-50.png" class="fbShare" (click)="this.createNavigationUrl('facebook')">
<img src="./assets/pngIcons/icons8-twitter-50.png" class="twitterShare" (click)="this.createNavigationUrl('twitter')">
