.carAnimation {
  position: absolute;
  top: 200px;
  right: 23px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.iconInformatios {
  position: absolute;
  top: 153px;
  left: 15px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

.measurements {
  padding: 4px 8px;
  font-size: 25px;
  bottom: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: aquamarine;
}
.textInformatios{
  max-width: 250px;
  padding: 1rem;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  background-color: #4ACFD9;
  position: absolute;
  top: 121px;
  left: 58px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}
