.legendImage {
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 140px;
  z-index: 2;
}

.basemapImage {
  position: absolute;
  top: 58px;
  left: 23px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

.getLocationImage {
  position: absolute;
  top: 100px;
  left: 16px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.legendHover{
  position: absolute;
  top: 157px;
  left: 20px;
  width: 35px;
  height: 35px;
}


